@page
@model IndexModel
@{
    ViewData["Resume Builder"] = "COP4834";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous"
        />

        <link rel="stylesheet" href="style.css" />
        <title>Resume Generator</title>
    </head>

    <body>
   <div class="container">
        <h1 class="text-center my-2">Resume Generator</h1>
        <p class="text-center">Created by John Many & Genifer Rock</p>

        <div class="row">

            <div class="col-md-6">
                <!--first column-->
                <h3>Personal Information</h3>
                <!--PERSONAL INFORMATION-->
                <div class="form-group">
                    <label for="nameField">First & Last Name</label>
                    <input 
                        type="text" 
                        id="nameField" 
                        placeholder="Enter Your Name Here" 
                        class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="phoneField">Phone Number</label>
                    <input 
                        type="text" 
                        id="phoneField" 
                        placeholder="Enter Your Phone Number Here" 
                        class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="birthdayField">Birthday</label>
                    <input type="date"
                           id="birthdayField"
                           placeholder="YYYY/MM/DD"
                           class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="addressField">Your Address</label>
                    <textarea
                        id="addressField"
                        placeholder="Enter Your Address Here"
                        class="form-control"
                        rows="5"                   
                    ></textarea>
                </div>
                <!--PERSONAL INFORMATION-->

                <h3>Useful Links</h3>
                <!--LINKS-->
                <div class="form-group">
                    <label for="facebookField">Facebook</label>
                    <input 
                        type="text" 
                        id="facebookField" 
                        placeholder="Link" 
                        class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="githubField">Github</label>
                    <input 
                        type="text" 
                        id="githubField" 
                        placeholder="Link" 
                        class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="linkedinField">LinkedIn</label>
                    <input 
                        type="text" 
                        id="linkedinField" 
                        placeholder="Link" 
                        class="form-control" />
                </div>
                <!--LINKS-->


            </div>
            <div class="col-md-6">
                <!--second column-->
                <h3>Career & Professional Information</h3>

                <div class="form-group mt-2">
                    <label for="objectiveField">Objective/Pitch</label>
                    <textarea
                        id="objectiveField"
                        placeholder="Enter Text"
                        class="form-control"
                        rows="5"                   
                    ></textarea>

                    <div class="form-group mt-2" id="we">
                        <label for="weField">Work Experience</label>
                        <textarea placeholder="Enter Text"
                                  class="form-control weField"
                                  rows="3"></textarea>
                    </div>

                    <div class="container text-center mt-2" id="weAddButton">
                        <button onclick="addNewWeField()" class="btn btn-primary btn-sm">Add</button>
                    </div>

                    <div class="form-group mt-2" id="eq">
                        <label for="aeField">Academic Experience</label>
                        <textarea 
                            placeholder="Enter Text"
                            class="form-control aeField"
                            rows ="3"></textarea>
                    </div>

                    <div class="container text-center mt-2" id="aeAddButton">
                        <button onclick="addNewAeField()" class="btn btn-primary btn-sm">Add</button>
                    </div>
            </div>
        </div>
        <div class="container text-center mt-3">
            <button class="btn btn-primary btn-lg">Generate CV</button>
        </div>
    </div>

       <?php
        // Connect to the database
        $host = 'database_host';
        $username = 'database_username';
        $password = 'database_password';
        $dbname = 'database_name';

        $conn = new mysqli($host, $username, $password, $dbname);

        // Check connection
        if ($conn->connect_error) {
            die("Connection failed: " . $conn->connect_error);
           }

        // Get the forum submission from the form

        // Personal Information
        $forum_name = $_POST['nameField'];
        $forum_phone = $_POST['phoneField'];
        $forum_birthday = $_POST['birthdayField'];
        $forum_address = $_POST['addressField'];

        // Helpful Links
        $forum_facebook = $_POST['facebookField'];
        $forum_github = $_POST['githubField'];
        $forum_linkedin = $_POST['linkedinField'];

        // Experience
        $forum_objective = $_POST['objectiveField'];
        $forum_work = $_POST['weField'];
        $forum_academics = $_POST['aeField'];

        // Prepare the HTML content for insertion into the database

        // Personal Information
        $escaped_forum_name = mysqli_real_escape_string($conn, $forum_name);
        $escaped_forum_phone = mysqli_real_escape_string($conn, $forum_phone);
        $escaped_forum_birthday = mysqli_real_escape_string($conn, $forum_birthday);
        $escaped_forum_address = mysqli_real_escape_string($conn, $forum_address);

        // Helpful Links
        $escaped_forum_facebook = mysqli_real_escape_string($conn, $forum_facebook);
        $escaped_forum_github = mysqli_real_escape_string($conn, $forum_github);
        $escaped_forum_linkedin = mysqli_real_escape_string($conn, $forum_linkedin);

        // Experience
        $escaped_forum_objective = mysqli_real_escape_string($conn, $forum_objective);
        $escaped_forum_work = mysqli_real_escape_string($conn, $forum_work);
        $escaped_forum_academics = mysqli_real_escape_string($conn, $forum_academics);

        // Insert the forum submission into the database

        $sql = "
        SET IDENTITY_INSERT PersonalInfo ON
        INSERT INTO PersonalInfo (Name) VALUES ('$escaped_forum_name')
        INSERT INTO PersonalInfo (Phone) VALUES ('$escaped_forum_phone')
        INSERT INTO PersonalInfo (Birthday) VALUES ('$escaped_forum_birthday')
        INSERT INTO PersonalInfo (Address) VALUES ('$escaped_forum_address')
        SET IDENTITY_INSERT PersonalInfo OFF

        SET IDENTITY_INSERT Links ON
        IF '$escaped_forum_facebook' = NOT NULL 
            OR '$escaped_forum_github' = NOT NULL
            OR '$escaped_forum_linkedin' = NOT NULL
        BEGIN
            IF '$escaped_forum_facebook' = NOT NULL 
                AND '$escaped_forum_github' = NULL
                AND '$escaped_forum_linkedin' = NULL
        BEGIN
        SET IDENTITY_INSERT Links ON
        INSERT INTO Links (Facebook) VALUES ('$escaped_forum_facebook')
        SET IDENTITY_INSERT Links OFF
        END
        ELSE IF '$escaped_forum_facebook' = NULL 
            AND '$escaped_forum_github' = NOT NULL
            AND '$escaped_forum_linkedin' = NULL
        BEGIN
        SET IDENTITY_INSERT Links ON
        INSERT INTO Links (Github) VALUES ('$escaped_forum_github')
        SET IDENTITY_INSERT Links OFF
        END
        ELSE IF '$escaped_forum_facebook' = NULL 
            AND '$escaped_forum_github' = NULL
            AND '$escaped_forum_linkedin' = NOT NULL
        BEGIN
        SET IDENTITY_INSERT Links ON
        INSERT INTO Links (LinkedIn) VALUES ('$escaped_forum_linkedin')
        SET IDENTITY_INSERT Links OFF
        END
        ELSE IF '$escaped_forum_facebook' = NOT NULL 
            AND '$escaped_forum_github' = NOT NULL
            AND '$escaped_forum_linkedin' = NULL
        BEGIN
        SET IDENTITY_INSERT Links ON
        INSERT INTO Links (Facebook) VALUES ('$escaped_forum_facebook')
        INSERT INTO Links (Github) VALUES ('$escaped_forum_github')
        SET IDENTITY_INSERT Links OFF
        END
        ELSE IF '$escaped_forum_facebook' = NOT NULL 
            AND '$escaped_forum_github' = NULL
            AND '$escaped_forum_linkedin' = NOT NULL
        BEGIN
        SET IDENTITY_INSERT Links ON
        INSERT INTO Links (Facebook) VALUES ('$escaped_forum_facebook')
        INSERT INTO Links (LinkedIn) VALUES ('$escaped_forum_linkedin')
        SET IDENTITY_INSERT Links OFF
        END
        ELSE IF '$escaped_forum_facebook' = NULL 
            AND '$escaped_forum_github' = NOT NULL
            AND '$escaped_forum_linkedin' = NOT NULL
        BEGIN
        SET IDENTITY_INSERT Links ON
        INSERT INTO Links (Github) VALUES ('$escaped_forum_github')
        INSERT INTO Links (LinkedIn) VALUES ('$escaped_forum_linkedin')
        SET IDENTITY_INSERT Links OFF
        END
        ELSE IF '$escaped_forum_facebook' = NOT NULL 
            AND '$escaped_forum_github' = NOT NULL
            AND '$escaped_forum_linkedin' = NOT NULL
        BEGIN
        SET IDENTITY_INSERT Links ON
        INSERT INTO Links (Facebook) VALUES ('$escaped_forum_facebook')
        INSERT INTO Links (Github) VALUES ('$escaped_forum_github')
        INSERT INTO Links (LinkedIn) VALUES ('$escaped_forum_linkedin')
        SET IDENTITY_INSERT Links OFF
        END
        END

        SET IDENTITY_INSERT Career ON
        INSERT INTO Career (Objective) VALUES ('$escaped_forum_objective')
        DECLARE @CareerID = @@IDENTITY
        SET IDENTITY_INSERT Career OFF

        SET IDENTITY_INSERT WorkExp ON
        INSERT INTO WorkExp (CareerID) VALUES (@CareerID)
        INSERT INTO WorkExp (WorkExperience) VALUES ('$escaped_forum_work')
        SET IDENTITY_INSERT WorkExp OFF

        SET IDENTITY_INSERT AcademicExp ON
        INSERT INTO AcademicExp (CareerID) VALUES (@CareerID)
        INSERT INTO AcademicExp (AcademicExperience) VALUES ('$escaped_forum_academics')
        SET IDENTITY_INSERT AcademicExp OFF

        GO";

        if ($conn->query($sql) === TRUE) {
            echo "Forum submission saved successfully";
        } else {
            echo "Error: <br>" . $conn->error;
        }

        $conn->close();
        ?>

       
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
        crossorigin="anonymous">
    </script>


    <!-- Added function direclty into index.html because the reference was not working properly-->
        <script>
            function addNewWeField() {
                let newNode = document.createElement('textarea');
                newNode.classList.add('form-control');
                newNode.classList.add('weField');
                newNode.classList.add("mt-2");
                newNode.setAttribute("rows", 3);
                newNode.setAttribute('placeholder', 'Text Here')

                let weAddButtonOb = document.getElementById('weAddButton');

                weAddButtonOb.before(newNode);
            }</script>

        <script>
            function addNewEqField() {
                let newNode = document.createElement('textarea');
                newNode.classList.add('form-control');
                newNode.classList.add('eqField');
                newNode.classList.add("mt-2");
                newNode.setAttribute("rows", 3);
                newNode.setAttribute('placeholder', 'Text Here')

                let eqAddButtonOb = document.getElementById('eqAddButton');

                eqAddButtonOb.before(newNode);
            }</script>
    </body>
</html>
